%tr{:id => "<%= singular_name %>_#{<%= singular_name %>.id}"}
  <%- for attribute in attributes -%>
  %td= h <%= singular_name %>.<%= attribute.name %>
  <%- end -%>
  <%- if action? :edit -%>
  %td= link_to 'Edit', edit_<%= singular_name %>_path(<%= singular_name %>) <%= options[:ajaxify] ? ', :class => "dialog_link"' : '' %>
  <%- end -%>
  <%- if action? :destroy -%>
  %td= link_to 'Remove', <%= singular_name %>, :confirm => 'Are you sure?', :method => :delete
  <%- end -%>

